mat-card:first-child {
  margin-top: 20px;
}
mat-card {
  margin-bottom: 10px;
  padding: 0;

  mat-card-header {
    background: aliceblue;
    padding: 20px;
    margin-bottom: 20px;
  }

  .product-details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    mat-card-content {
      div {
        font-size: 12px;
      }

      .product-details-content {
        display: flex;
      }

      img {
        width: 100;
        height: 100px;
      }

      .mat-card-actions button {
        font-size: 12px;
      }

      @media screen and (min-width: 1000px) {
        div {
          font-size: 20px;
        }
        .product-block-1 {
          img {
            width: 200px;
            height: 200px;
          }
        }

        .mat-card-actions {
          padding-top: 20px;
        }

        .mat-card-actions button {
          font-size: 14px;
        }
      }

      .product-block-2 {
        padding-left: 20px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
}
